__pycache__
pixelPoissonness.edf
stdev_check.ipynb
maskGeneratorIntegraterCdTe_gainMaps.ipynb
Save maps pyfai.ipynb
.ipynb_checkpoints
*.edf
maskGenerator_splitting_loop.py
polynomialIntensityCorrection.py
*.xye
dist
maskGenerator.egg-info
bkgSubtraction2d.py
dataCut.py
maskGeneratorBM31/guiConfig.log
findMonitor.py
maskImageSaver.py
maskGeneratorBM31/azimuthGui.py
x64
*.pyd
az_cppTest.py
*.sln
*.vcx*
*.vs
*.vscode